@import "tailwindcss";

@theme {
    --font-rubik: "Rubik", sans-serif;
}

a.active {
    outline: 2px dashed black;
    outline-offset: 2px;
}
a{
    font-weight: bold;
}
a:hover{
    color: red;
}

@font-face {
    font-family: "Rubik";
    src: url("/src/assets/static/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Rubik";
    src: url("/src/assets/static/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}


@font-face {
    font-family: "Rubik";
    src: url("/src/assets/static/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}
.container {
    max-width: 1200px;
}